<template name="Ferienwohnung">
    	<section class="section first-section" style="margin-top: 349px;">
    		<header class="section_header">
    			<h1 class="section_title">Die Ferienwohnung</h1>
    			<h2 class="section_sub">Ferien auf dem Voglerhof!</h2>
    		</header>
    		<ul class="img_container">
    		    <li>
    		        <figure>
    		            <a href="img/img1_web_big.jpg" data-imagelightbox="e">
    		            	<img src="img/img1_web.jpg" alt="Wohnzimmer">
    		            </a>
    		            <figcaption>
    		                <h3>Wohnzimmer</h3>
                    </figcaption>
    		        </figure>
    		    </li>
    		    <li>
    		        <figure>
    		            <a href="img/img2_web_big.jpg" data-imagelightbox="e">
    		            	<img src="img/img2_web.jpg" alt="Wohnzimmer">
    		            </a>
  		              <figcaption>
    		                <h3>Wohnzimmer</h3>
                    </figcaption>
    		        </figure>
    		    </li>
    		    <li>
    		        <figure>
    		            <a href="img/img3_web_big.jpg" data-imagelightbox="e">
    		            	<img src="img/img3_web.jpg" alt="2. Schlafzimmer">
    		            </a>
    		            <figcaption>
    		                <h3>2. Schlafzimmer</h3>
    		            </figcaption>
    		        </figure>
    		    </li>
    		</ul>

    		<div class="section_content">
    			<h3>Informationen</h3>
    			<p>Ferien mitten im Grünen und weit ab von Verkehrschaos und der alltäglichen Hektik. Gemütlich Wandern, Radfahren oder die Sehenswürdigkeiten im Weserbergland erkunden. Die Ferienwohnung ist der perfekte Ausgangspunkt. In dem mit Liebe restauriertes Pfarrwitwenhaus gleich am Hofeingang befindet sich die Wohnung. Das gesamte Häuschen inkl. Hofladen wurde 2007 vollkommen kernsaniert und nach Denkmalschutzvorgaben bestmöglich wieder aufgebaut. Die Wohnung verteilt sich über zwei Etagen (1. OG + Dachgeschoss). Im Erdgeschoss befindet sich der Hofladen – gesunde Verpflegung somit garantiert.</p>

    			<a href="weitereInfo">weitere Informationen</a>
    			<button class="md-trigger" data-modal="modal-1">Reservieren</button>


    			<div class="md-modal md-effect-1" id="modal-1">
    				<div class="md-content">
    					<h3>Reservierung</h3>
    					<div>
    						<p>Hier wird später die Wohnung reserviert.</p>
    						<button class="md-close">Abbrechen</button>
    						<button class="md-close">Reservieren</button>
    					</div>
    				</div>
    			</div>
    			<div class="md-overlay"></div><!-- the overlay element -->

    		</div>

    		<ul class="img_container">
    		    <li>
    		        <figure>
    		            <img src="img/img3_web.jpg" alt="img03">
    		            <figcaption>
    		                <h3>2. Schlafzimmer</h3>
    		            </figcaption>
    		        </figure>
    		    </li>
    		    <li>
    		        <figure>
    		            <img src="img/img4_web.jpg" alt="img04">
    		            <figcaption>
    		                <h3>Bad</h3>
    		            </figcaption>
    		        </figure>
    		    </li>
    		    <li>
    		        <figure>
    		            <img src="img/img2_web.jpg" alt="img02">
    		            <figcaption>
    		                <h3>Schlafzimmer</h3>
    		            </figcaption>
    		        </figure>
    		    </li>
    		</ul>
    	</section>
    	<section class="section">
    		<header class="section_header">
    			<h1 class="section_title">Die Biogasanlage</h1>
    			<h2 class="section_sub">Energie aus Biogas!</h2>
    		</header>


    	</section>
    <!-- <script src="js/classie.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/imagelightbox.js"></script> -->


</template>
