<template name="Nav">
  <div class="ui large top fixed hidden menu">
      <div class="ui container">
          <a href="/" class="header item">
            <img class="logo" src="/images/logo.png">
            &nbsp;&nbsp;&nbsp;Voglerhof
         </a>
          <a href="/info" class="item">Info</a>
          <a href="/shop" class="item">Hofladen</a>
          <!-- <a href="/shop" class="item">Hofladen</a> -->
          {{#if isInRole 'admin'}}
            <a href="/admin" class="item">Admin</a>
          {{/if}}
          <div class="right menu">
              {{#if currentUser}}
                <div class="item">
                  <i class="user icon"></i><span>{{user.profile.name}}</span>
                </div>
              {{/if}}
              <div class="item">
                  <a href="/cart" class="ui button">Warenkorb {{#if itemCount}}({{itemCount}}){{/if}}</a>
              </div>
              <div class="item">
                  {{#if currentUser}}
                    <a href="/home" class="ui button red logout">Logout</a>
                  {{else}}
                    <a href="/login" class="ui primary button">Login</a>
                  {{/if}}
              </div>
          </div>
      </div>
  </div>
</template>
