.shop-layout {

  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;

  body {
  }

  .decr-quantity, .incr-quantity {
    color: #ccc;
  }

  .decr-quantity:hover, .incr-quantity:hover {
    cursor: pointer;
  }

  .incr-quantity:hover {
    color: #21ba45;
  }

  .decr-quantity:hover {
    color: #db2828;
  }

  i.remove.circle.icon:hover {
    cursor: pointer;
    color: #db2828 !important;
  }
  i.edit.icon:hover {
    cursor: pointer;
    color: #2185D0 !important;
  }


}
